Lesson01_MappingBySequencing/1_custom_pipeline/log/
Lesson01_MappingBySequencing/1_custom_pipeline/qc/
Lesson01_MappingBySequencing/1_custom_pipeline/raw/
Lesson01_MappingBySequencing/1_custom_pipeline/results/
Lesson02_FilteringSNPs/tmp
Lesson02_FilteringSNPs/result
Lesson02_FilteringSNPs/result_backup
Lesson03_QTLmapping/input
